body	{background-image: url("background.jpg");
	 background-repeat: no-repeat;
	 background-size: 100%;
	 background-attachment: fixed;
	 color: black;
	 font-size: 25px; 
	 font-family: arial;
	 text-align: center;
	}
h1	{
	 vertical-align: baseline;
	 font-style: oblique;
	}
h2	{font-size: 25px;
	 text-align: left;
	 margin-left: 15%;
	}
#RP	{position: absolute;
	 top: 250px;
	 right: 65px;
	 height: 500px;
	 width: auto;
	 }
table	{border: solid yellow 4px;
	 width: 40%;
	 color: white;
	 background-color: blue;
	 margin-left: 30%;
	}
th	{font-size: 20px;
	 font-style: italic;
	 padding: 6px;
	}
td	{padding: 5px;
	}
#OL	{text-align: left;
	 margin-left: 15%;
	}
#link	{padding: 10px;
	 background-color: lightblue;
	}
#filler	{margin-left: 5%;
	 margin-right: 20%
	}
.a	{height: 450px;
	 width: auto;
	}
.b	{height: 450px;
	 width: auto;
	 padding: 30px;
	}
.c	{height: 450px;
	 width: auto;
	}